h2{
    text-align:center;
}
h1 {
    text-align:center;
    padding-top:30px;
}
form {
    max-width:600px;
    width:100%;
    margin:0 auto;
    border:1px solid #778899;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.btn-container{
    display:flex;
    
}
.forgotPassword {
    color: #999999;
    cursor:pointer;
    padding-top:5px;
}
.regLogin {
    display:flex;
    justify-content:space-evenly;
}
