.dropdown-item.active .dropdown-item:active{
    color: #984b43;
    text-decoration: none;
}
button:active {
    color: #984b43;
}

a {
    color:#984B43;
    text-decoration: none;
    background-color: transparent;
    font-weight: 650;
}

