/* header Merriweather */
/* content Lato */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    white;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    white;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    white;
}

::placeholder { /* Most modern browsers support this now. */
 color:    white;
 border: none;
}

button:hover{
  background: "#dc9f2e"
}