/* header Merriweather */
/* content Lato */

.bg-img {
  min-height: 100vh;
  background-color: #233237;
  background-image: url("./Images/TurntableBGBlur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #eac67a;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    white;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    white;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    white;
}

::placeholder { /* Most modern browsers support this now. */
 color:    white;
 border: none;
}

button:hover{
  background: "#dc9f2e"
}