body {
  margin: 0;
  padding: 0;
  background: url("./Images/TurntableBGBlur.jpg");
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 50%;
  object-fit: contain;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  color: #eac67a;
  z-index: -1;
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
